body{
    background-color: pink;
    display:flex;
    flex-direction: column;
    height:100vh;
}

.container{
    flex:1;
}

.navbar{
    height:5rem;
}

.nav-item{
    font-size: large;
}

.fa-regular{
    color:#fe424d;
    font-size: 2rem;
}

/* important is use over on bootstrap */
.nav-link{
    color:#222222 !important;    
}

.f-links a{
    text-decoration: none;
    color:#222222;
}

.f-links a:hover{
    text-decoration:underline;
}

.f-links{
    width:100%;
}

.f-socials{
    width:100%;
    display:flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}

.f-socials i{
    margin-right: 0.5rem;
}

.f-info{
    display:flex;
    height:8rem;
    background-color: #ebebeb;
    justify-content: center;
    text-align: center;
    align-items: space-evenly;
    flex-wrap:wrap;
}

.card-img-top{
    border-radius: 1rem !important;
    width:100% !important;
     
    object-fit: cover;
}

.card{
    border-style:none !important;
}

.row a{
    text-decoration: none;
}

.card-img-overlay{
    opacity:0;
    background-color: white;
}

.card-img-overlay:hover{
    opacity:0.3;
}

/* for buttons */
.btn{
    background-color: #fe424d !important;
    border-style: none !important;
}

/* for selecting input/textarea field to change border styling */
input:focus, textarea:focus {
    border-color: #fc6872 !important;
    outline:none !important; /* Removes the default outline */
    box-shadow: 0 0 5px #fe424d !important; /* Adds a red shadow to the border */
}

/* detail image */
.showImg{
    height:60vh;
}

.inline{
    display:flex;
    gap:10px;
}

/* Change the background and text color of selected text */
::selection {
    background-color:  #ff818a; /* Custom background color */
    color: #ffffff; /* Custom text color */
}

.signup{
    background-color: rgb(39, 174, 39) !important;
}