<% layout("/layouts/boilerPlate") %>

<div class="col-4 offset-4"><br>
    <center><h2>Login</h2></center>
    <form action="/login" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="username" class="form-label">Enter Username</label>
            <input type="text" name="username" placeholder="username" class="form-control" required> 
        </div>
         
        <div class="mb-3">
            <label for="password" class="form-label">Set password</label>
            <input type="password" name="password" placeholder="password" class="form-control" required> 
        </div>
        <center><button class="btn btn-primary signup">Login</button></center>
    </form>
</div>
 